.amenity {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  .false {
    text-decoration: line-through;

  }
}
